<div class="alert alert-warning alert-dismissable" role="alert">
	<button aria-hidden="<%= true %>" class="close" data-dismiss="alert">&times;</button>
	<h5>Encontramos uma oportunidade jรก adicionada com este mesmo link</h5>
	<h6><%= title %></h6>
	<%= end_subscription %>
	<br>
	<%= opportunity_link %>
</div>
