<tr>
  <td class="container-padding footer-text" align="left" style="font-family:Helvetica, Arial, sans-serif;font-size:12px;line-height:16px;color:#aaaaaa;padding-left:24px;padding-right:24px">
    <br><br>
    Emerge © 2016.
    <br><br>
      <%= yield :message_reason %>
    <br><br>
    <strong>Emerge</strong><br>
    <span class="ios-footer">
      Rua Rio de Janeiro, 462, sl 1011<br>
      Belo Horizonte, Minas Gerais<br>
    </span>
    <a href="<%= root_url %>" style="color:#aaaaaa">emerge.art.br</a><br>

    <br><br>

  </td>
</tr>