  <tr>
    <td class="headerContent">
    
      <!-- // Begin Module: Standard Header Image \\ -->
      <%= yield :image_header %>
      <!-- // End Module: Standard Header Image \\ -->
    
    </td>
  </tr>