<%= link_to destroy_recommendation_opportunity_path(model), :method => :post, :remote => true, :class => "btn btn-sm btn-default" do %>
	<span class="glyphicon glyphicon-heart mr1" aria-hidden="true"></span>
	Recomendou
<% end %>						
