<%= link_to destroy_recommendation_opportunity_path(model), :method => :post, :remote => true, :class => "button button-rounded button-small" do %>
	<span class="glyphicon glyphicon-heart mr1 dark-red" aria-hidden="true"></span>
	Recomendou
<% end %>						
