<%= link_to recommend_opportunity_path(model), :method => :post, :remote => true, :class => "btn btn-sm btn-default" do %>					
	<span class="glyphicon glyphicon-heart-empty mr1" aria-hidden="true"></span>
	Recomendar
<% end %>
