	<div class="col-md-8 col-sm-12">
		<%= cell(:opportunity).(:header) %>
		<div class="row">
			<div class="col-sm-8 opportunity__text__container f4">
				<div class="well well-sm">
					<%= content %>
				</div>
			</div>
			<div class="col-sm-4">
				<ul class="list-group">
					<li class="list-group-item">
						<address>
							<strong>Premio FWC de Arte</strong><br>
							1355 Market Street, Suite 900<br>
							San Francisco, CA 94103<br>
							<abbr title="Phone">P:</abbr> (123) 456-7890
						</address>
					</li>
				</ul>
			</div>
		</div>
		<div class="row comment_container">
			<div class="comment_container col-sm-8">
			</div>
		</div>
	</div>

