<div class="row pb2">
	<div class="col-sm-4">
		<%= link_to image_tag("http://placehold.it/140x140", :alt => "Image Description"), opportunity_path, :class => "img-responsive" %>
	</div>
	<div class="col-sm-8">
		<a href="#" class="f5 ma0 mb1 mt2">
			Bolsa Pampulha 2017
		</a>
		<p class ="f5">O objeto do XV Prêmio FCW de Arte é a Fotografia, profissão e atividade empresarial do Instituidor Ubaldo Augusto Conrado Wess
		</p>
		</div>
</div>

