<div class="well well-sm"> 
	<h3 class="f3">Mais Recomendados</h3>
	<div class="row">
		<div class="col-sm-4">
			<img src="//placehold.it/140x140" class="img-responsive">
		</div>
		<div class="col-sm-8">
			<h6 class="f5">Bolsa Pampulha 2017</h6>
			<p class ="f5">O objeto do XV Prêmio FCW de Arte é a Fotografia, profissão e atividade empresarial do Instituidor Ubaldo Augusto Conrado Wess
			</p>
		</div>
	</div>
</div>
