<div class="col-sm-12">
	<form class="form-inline">
		<div class="form-group">
			<label class="sr-only" for="InputOpportunityName">Nome da Oportunidade</label>
			<input type="text" class="form-control" id="InputOpportunityName" placeholder="Nome da Oportunidade">
		</div>
		<div class="form-group">
			<label class="sr-only" for="InputOpportunityCategory">Categoria da Oportunidade</label>
			<select class="form-control">
				<option>Escolha um categoria</option>
				<option>Video Arte</option>
				<option>Residência</option>
				<option>Instalação</option>
				<option>Fotografia</option>
				<option>Pintura</option>
			</select>
		</div>
		<div class="form-group">
			<label class="sr-only" for="InputOpportunityEnd">Password</label>
			<input type="date" class="form-control" id="InputOpportunityEnd" placeholder="Encerramento">
		</div>
		<button type="search" class="btn btn-primary">Buscar oportunidade</button>
	</form>
</div>
