<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title></title>

  <style type="text/css">

      .ReadMsgBody { width: 100%; background-color: #d8eaf8; }
      .ExternalClass { width: 100%; background-color: #d8eaf8; }
      body { width: 100%; background-color: #d8eaf8; margin: 0; padding: 0; -webkit-font-smoothing: antialiased; font-family: Arial, Times, serif }
      table { border-collapse: collapse !important; mso-table-lspace: 0pt; mso-table-rspace: 0pt; }

      @-ms-viewport{ width: device-width; }

      @media only screen and (max-width: 639px){
      .wrapper{ width:100%;  padding: 0 !important; }
      }

      @media only screen and (max-width: 480px){
      .centerClass{ margin:0 auto !important; }
      .imgClass{ width:100% !important; height:auto; }
      .wrapper{ width:320px; padding: 0 !important; }
      .header{ width:320px; padding: 0 !important; background-image: url(http://placehold.it/320x400) !important; }
      .container{ width:300px;  padding: 0 !important; }
      .mobile{ width:300px; display:block; padding: 0 !important; text-align:center !important;}
      .mobile50{ width:300px; padding: 0 !important; text-align:center; }
      *[class="mobileOff"] { width: 0px !important; display: none !important; }
      *[class*="mobileOn"] { display: block !important; max-height:none !important; }
      }

  </style>  
</head>
<body marginwidth="0" marginheight="0" leftmargin="0" topmargin="0" style="background-color:#F6F6F6;  font-family:Arial,serif; margin:0; padding:0; min-width: 100%; -webkit-text-size-adjust:none; -ms-text-size-adjust:none;">
  <%= yield %>
</body>
</html>

