@import 'tachyons/scss/media-queries';

.h-15{height: 15%;}
.h6{ 
	height: 24rem; 
	margin-top: 0;
}
.h7{ 
	height: 32rem; 
	margin-top: 0;
}

@media #{$breakpoint-not-small}{
	.h6-ns{ 
		height: 24rem; 
		margin-top: 0;
	}
	.h7-ns{ 
		height: 32rem; 
		margin-top: 0;
	}
	.h-15-ns{height: 15%;}
}

@media #{$breakpoint-medium}{
}

@media #{$breakpoint-large}{
	.h-15-l{height: 15%;}
	.h6-l{ 
		height: 24rem; 
		margin-top: 0;
	}
	.h7-l{ 
		height: 32rem; 
		margin-top: 0;
	}
}
