<p>
  <strong>
		Origin:
	</strong>
	<a href="<%= request.env['omniauth.origin'] %>">
		<%= request.env['omniauth.origin'] %>
	</a>
</p>
<h2>
	OAuth Response:
</h2>
<p>
  <%= raw(ap request.env['omniauth.auth']) %>
</p>
