<%= link_to opportunity_follow_opportunities_path(model.to_param), :class => "btn btn-sm btn-default", :remote => true, method: :post do %>					
	<span class="glyphicon glyphicon-bookmark mr2" aria-hidden="true"></span>Seguir
<% end %>	

