<%= link_to stop_following_link, :class => "button button-rounded button-action button-small", :method => :delete, :remote => true do %>					
	<span class="glyphicon glyphicon-bookmark mr2" aria-hidden="true"></span>Seguindo
<% end %>	

