<h3 class="f4 fw3 mt0">Encontrou alguma oportunidade?</h3>
<div class="row pb2">
	<div class="col-sm-4">
		<%= image_tag("tipografiaWorkshopThumb.png", :alt => "Image Description", :class => "img-responsive") %>
	</div>
	<div class="col-sm-8">
		<p class="f5 fw3 mt0 mb1">Ajude-nos a tornar o Emerge melhor e mais completo 				Se encontrou por aí alguma oportunidade que ainda não está cadastrada no Emerge use nosso formulário</p>
		<%= link_to new_opportunity_path, :class => "btn btn-xs btn-default" do %>
			Contribuir
			<i class="ion-plus-circled"></i>
			<% end %>
	</div>
</div>
