<div class="row">
	<div class="col-md-4 col-md-offset-8">
		<form>
			<div class="form-group">
				<label for="messageSubject">Assunto</label>
				<select class="form-control" id="messageSubject">
					<option>Escolha o assunto da mensagem</option>
					<option>Tenho uma dúvida</option>
					<option>Não consigo usar minha conta</option>
					<option>Não consigo recuperar minha senha</option>
					<option>Outros</option>
				</select>
			</div>
			<div class="form-group">
				<label for="inputMessage">Mensagem</label>
				<textarea class="form-control" rows="6" placeholder="Use este campo para incluir alguma observação sobre este edital"></textarea>
			</div>
		</form>
	</div>
</div>
