<h1>
	<%= I18n.t('brand.name') %>
</h1>
<p class="lead" >
  Editais, salões e prêmios organizados de uma maneira completamente nova. Crie coleções e siga os editais que realmente te interessam.
</p>
<p class="lead" >
	Você pode colaborar sempre que quiser, postando as oportunidades que te interessam. Cole o link no formulário e a sua oportunidade vai pro feed automaticamente. Artistas, curadores, produtores culturais, pesquisadores, galeristas, instituições de ensino, etc. Todo mundo vai poder usar o Emerge para se conectar a infinitas possibilidades em artes visuais.
</p> 
