<div class="row">
	<div class="col-md-4 col-sm-12">
		<%= render 'elements/left_bar'%>
	</div>
	<div class="col-md-8 col-sm-12">
			<%= render 'opportunity_header'%>
		<div class="row">
			<div class="col-sm-8">
				<p>
					O objeto do XV Prêmio FCW de Arte é a Fotografia, profissão e atividade empresarial do Instituidor Ubaldo Augusto Conrado Wessel. 
				</p>
				<p>
					Nesta décima quinta edição o Prêmio privilegia o Ensaio Fotográfico e é aberto somente para fotógrafos brasileiros natos e brasileiros naturalizados. O Ensaio Fotográfico deve ter sua produção realizada e comprovada entre 1° de janeiro de 2015 e 31 de dezembro de 2016.
				</p>
				<p>
					Entende-se por Ensaio Fotográfico um conjunto de no mínimo 10 (dez) fotografias de uma só temática, de conteúdo etnográfico, paisagístico, ecológico, socioambiental, entre outros desenvolvido em território brasileiro. O portfolio encaminhado para avaliação deverá conter fotografias de um mesmo trabalho e não fotografias avulsas e sem conexão.
				</p>
				<p>
					Cada candidato poderá inscrever apenas um ensaio cujo tema geral é: BRASIL – DESAFIOS EM MOVIMENTO.
				</p>
				<p>
					Serão selecionados, entre os inscritos, os 15 (quinze) melhores ensaios fotográficos, que serão considerados os finalistas. Esses farão parte de um livro comemorativo da décima quinta edição do Prêmio FCW de Arte, Ciência e Cultura 2016. Entre eles serão selecionados os 3 (três) primeiros ensaios que receberão o Prêmio FCW de Arte – Ensaio Fotográfico.
				</p>
				<p>
					O anúncio dos fotógrafos premiados será divulgado até o dia 9 de junho de 2017.
				</p>

			</div>
			<div class="col-sm-4">
				<ul class="list-group">
					<li class="list-group-item">Cras justo odio</li>
					<li class="list-group-item">Dapibus ac facilisis in</li>
					<li class="list-group-item">Morbi leo risus</li>
					<li class="list-group-item">Porta ac consectetur ac</li>
					<li class="list-group-item">Vestibulum at eros</li>
				</ul>
			</div>
		</div>
	</div>
</div>
