<div class="row">
	<div class="col-md-4 col-sm-12">
		<%= render 'elements/left_bar'%>
	</div>
	<div class="col-md-8 col-sm-12">
		<%= render 'opportunity_header'%>
		<div class="row">
			<div class="col-sm-8 opportunity__text__container f4">
				<div class="well well-sm">
					<p>
						O objeto do XV Prêmio FCW de Arte é a Fotografia, profissão e atividade empresarial do Instituidor Ubaldo Augusto Conrado Wessel. 
					</p>
					<p>
						Nesta décima quinta edição o Prêmio privilegia o Ensaio Fotográfico e é aberto somente para fotógrafos brasileiros natos e brasileiros naturalizados. O Ensaio Fotográfico deve ter sua produção realizada e comprovada entre 1° de janeiro de 2015 e 31 de dezembro de 2016.
					</p>
					<p>
						Entende-se por Ensaio Fotográfico um conjunto de no mínimo 10 (dez) fotografias de uma só temática, de conteúdo etnográfico, paisagístico, ecológico, socioambiental, entre outros desenvolvido em território brasileiro. O portfolio encaminhado para avaliação deverá conter fotografias de um mesmo trabalho e não fotografias avulsas e sem conexão.
					</p>

				</div>
			</div>
			<div class="col-sm-4">
				<ul class="list-group">
					<li class="list-group-item">  						
						<address>
							<strong>Premio FWC de Arte</strong><br>
							1355 Market Street, Suite 900<br>
							San Francisco, CA 94103<br>
							<abbr title="Phone">P:</abbr> (123) 456-7890
						</address>
					</li>
				</ul>
			</div>
		</div>
		<div class="row comment_container">
			<div class="comment_container col-sm-8">
				<%= render 'comment_box'%>
			</div>
		</div>
	</div>
</div>

<%= render 'pages/opportunity_quest_modal'%>
