<% title = "Termos de Uso" %>
<% image = "http://payload508.cargocollective.com/1/22/725810/12476799/20-11-15-2_3468.jpg" %>
<% text = "<p>
			O Emerge fornece o website http://www.emerge.art.br como um serviço gratuito para o público.
		</p>
    <p>
			O site é fornecido \"como está\". Todos os dados e informações fornecidos neste site são apenas para fins informativos.
    </p>
    <p>
			O Emerge não é responsável e, expressamente, se isenta de qualquer responsabilidade por danos de qualquer tipo decorrentes de uso, referência ou dependência de qualquer informação contida no site. Embora as informações contidas no site sejam periodicamente atualizadas, não é garantida que as informações fornecidas neste site da Web sejam corretas, completas e atualizadas.
    </p>
    <p>
			Embora o website do Emerge pode incluir links fornecendo acesso direto a outros recursos da Internet, incluindo sites, Emerge não é responsável pela exatidão ou conteúdo das informações contidas nesses sites.
    </p>
    <p>
			Links do Emerge para sites de terceiros não constituem um endosso pelo Emerge das partes ou seus produtos e serviços. A aparência do site de anúncios e do produto ou serviço de informação não constitui um endosso pelo Emerge, e o Emerge não investigou as alegações feitas por qualquer anunciante. A informação do produto baseia-se apenas no material recebido dos fornecedores
    </p>
    <p>
			Nem o Emerge nem seus colaboradores, garante que o site seja livre de erros ou que o acesso seja contínuo ou ininterrupto.
    </p>"%>

<%= cell(PagesCell, nil, {:content => {:image => image, :text => text, :title => title}}) %>
