<h3 class="f4 fw3 mt0">Encontrou alguma oportunidade?</h3>
<div class="row pb2">
	<div class="col-sm-4">
		<%= link_to image_tag("tipografiaWorkshopThumb.png", :alt => "Image Description"), "https://www.sympla.com.br/colapso---workshop-de-experimentacao-tipografica__38534", :class => "img-responsive" %>
	</div>
	<div class="col-sm-8">
		<h3 class="f4 fw3 mt0 mb1">Ajude-nos a tornar o Emerge melhor e mais completo 				Se encontrou por aí alguma oportunidade que ainda não está cadastrada no Emerge use nosso formulário</h3>
		<%= link_to "Contribuir", new_opportunity_path, :remote => true, :class => "btn btn-xs btn-default" %>

	</div>
</div>
