<%= form_for @new_comment do |f| %>
	<div class="field form-group">
		<%= f.text_area :body, :class => 'form-control', :rows => 3, :placeholder => "Acesse sua conta para comentar esta oportunidade", :disabled => true %>
	</div>
	<div class="field form-group">
		<%= f.submit "Comentar", :class => 'btn btn-primary btn-xs' %>
	</div>
<% end %>
