<div class="comments-header">
	<h4>
		<%= comment_threads_count %>
		comments
	</h4>
	<%= cell(CommentsCell, model).(:form) %>

	<div class="comments-container">
		<%= cell(CommentsCell, :collection => root_comments).(:reply) %>
	</div>
</div>
