<h3 class="f4 fw3 mt0">Ainda não possui uma conta?</h3>
<div class="row pb2">
	<div class="col-sm-4">
		<%= image_tag("tipografiaWorkshopThumb.png", :alt => "Image Description", :class => "img-responsive") %>
	</div>
	<div class="col-sm-8">
		<p class="f5 fw3 mt0 mb1">Crie uma conta no Emerge e facilite sua vida artística. Receba informações sobre editais no brasil e no mundo. Compartilhe </p>
		<%= link_to "Criar conta", new_user_registration_path, :class => "btn btn-xs btn-default" %>
	</div>
</div>
