<div class="alert alert-success alert-dismissable" role="alert">
	<button aria-hidden="<%= true %>" class="close" data-dismiss="alert">&times;</button>
	<h5>Em breve esta oportunidade estará disponível para todos</h5>
	<h6>Thanks</h6>
</div>
