<div class="col-sm-8">
	<div class="row">
		<div class="col-md-12">
			<%= cell(Components::FiltersCell) %>
		</div>
	</div>
	<div class="row card__container">
		<%= cell(OpportunityCell::CardCell, :collection => @opportunities) %>
		<div class="col-md-12">
			<%= paginate @opportunities %>
		</div>
	</div>
</div>
