// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

form fieldset.as_inline_form {
	background: #f4f4f4;
	border-radius: 4px;
	box-shadow: inset 0 1px 4px #ddd;
	li {
		display: inline-block;

		label{
			display: block;
			width: 100%;
			float: left;
			font-size: 1.0em;
			font-weight: bold;
			color: #5E6469;
		}
	}
}
