<% if has_grants? %>
	<li class="list-group-item pb0 bg-white">
		<h3 class="f4 fw3 mt0"> <span class="glyphicon glyphicon-usd"></span> Premiações:</h3>
		<%= cell(Components::Opportunity::GrantsCell, :collection => model).(:grant) %>
	</li>
<% end %>
