<li class="list-group-item pb4 bg-white">
	<h3 class="f4 fw3 mt0"> <span class="glyphicon glyphicon-usd f5"></span> Taxas: </h3>
	<%= cell(Opportunities::TaxesCell, :collection => model).(:tax) %>
</li>
